ultralytics>=8.3.0
torch
torchvision
torchaudio
onnx
onnxruntime
onnxsim

opencv-python
opencv-contrib-python

numpy
pandas
scipy

matplotlib
seaborn

motmetrics

boxmot

filterpy
lapx

tqdm

pyyaml

tensorboard

psutil

jupyter
ipykernel

netron